button a {
	text-decoration:none;
}


body {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
}

#search-form {
	margin:20px auto;
	width: 600px;
}

	.logo {
	text-align: center;
	margin: 150px auto 45px;
	width: 600px;
}

#search-form .fields input[type=text] {
	width: 600px;
	font-size:14px;
	color: #454545;
	font-style: italic;
	padding: 6px 3px;
}

.map-view {
	width: 323px;
}

.details-view {
	width:657px;
}

.map-view .map-box {
	padding: 10px;
	border:1px solid #ddd;
}

.green-rating {
	color: #468847;
	background: #dff0d8;
	border:1px solid rgba(70, 136, 71, .4);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius: 3px;
}

.yellow-rating {
	color:#c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5;
	border-radius: 3px;
}

.red-rating {
	color:#b94a48;
	background-color: #f2dede;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid rgb(223, 178, 184);
	border-radius: 3px;
}

.rating {
	padding: 20px;
	width: 620px;
}

.rating hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* Thanks css-tricks */
}

.rating h1 {
	margin:0px;
	padding-left:5px;
}

.rating p {
	margin:0px;
}

.rating ul {
	margin:0px;
	padding: 0px;
	padding-left: 20px;
}

.rating ul li {
	margin: 0px;
	padding: 0px;
}

.rating .social-icons {
	width:210px;
	padding-top:8px;
}

.header .logo-results-page {
	width:220px;
}

.header .search-on-results {
	width:300px;
}

.header .search-on-results input[type=text] {
	width: 225px;
	font-size:14px;
	color: #454545;
	font-style: italic;
	padding: 3px;
}

.county-name {
	color:#666;
	padding-left: 5px;
  text-transform: capitalize;
}

/* helper css */
.left {
	float: left;
}

.right {
	float: right;
}

.clear-both {
	clear: both;
}

.clear-right {
	clear: right;
}

.clear-left {
	clear:left;
}

/* base css */ 

h2 {
	margin:0px;
}

a {
	color:#08c;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.container {
	width: 1000px;
	margin: 25px auto;
}


/** How's the water **/

.hows-the-water {
	border:none;
   border-top: 1px solid #96d1f8;
   background: #345a73;
   background: -webkit-gradient(linear, left top, left bottom, from(#0086e0), to(#345a73));
   background: -webkit-linear-gradient(top, #0086e0, #345a73);
   background: -moz-linear-gradient(top, #0086e0, #345a73);
   background: -ms-linear-gradient(top, #0086e0, #345a73);
   background: -o-linear-gradient(top, #0086e0, #345a73);
   padding: 8px 16px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.hows-the-water:hover {
   border-top-color: #187fc4;
   background: #187fc4;
   color: #ffffff;
   }
.hows-the-water:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


.learn-more {
    border:none;
   border-top: 1px solid #fafafa;
   background: #ccc;
   background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
   background: -webkit-linear-gradient(top, #eee, #ccc);
   background: -moz-linear-gradient(top, #eee, #ccc);
   background: -ms-linear-gradient(top, #eee, #ccc);
   background: -o-linear-gradient(top, #eee, #ccc);
   padding: 8px 16px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.learn-more:hover {
   border-top-color: #187fc4;
   background: #f5f5f5;
   color: #ffffff;
   }
.learn-more:active {
   border-top-color: #1b435e;
   background: #aaa;
   }


  .red-button {
   border-top: 1px solid #f79797;
   background: #733535;
   background: -webkit-gradient(linear, left top, left bottom, from(#de2900), to(#733535));
   background: -webkit-linear-gradient(top, #de2900, #733535);
   background: -moz-linear-gradient(top, #de2900, #733535);
   background: -ms-linear-gradient(top, #de2900, #733535);
   background: -o-linear-gradient(top, #de2900, #733535);
   padding: 8.5px 17px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.red-button:hover {
   border-top-color: #c21919;
   background: #c21919;
   color: #ffffff;
}
.red-button:active {
   border-top-color: #960808;
   background: #960808;
}

.green-button {
   border-top: 1px solid #baf598;
   background: #346620;
   background: -webkit-gradient(linear, left top, left bottom, from(#3bc416), to(#346620));
   background: -webkit-linear-gradient(top, #3bc416, #346620);
   background: -moz-linear-gradient(top, #3bc416, #346620);
   background: -ms-linear-gradient(top, #3bc416, #346620);
   background: -o-linear-gradient(top, #3bc416, #346620);
   padding: 8.5px 17px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}
.green-button:hover {
   border-top-color: #109420;
   background: #109420;
   color: #ffffff;
}
.green-button:active {
   border-top-color: #146919;
   background: #146919;
}

.yellow-button {
   border-top: 1px solid #f0c77f;
   background: #f2571f;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffbf00), to(#f2571f));
   background: -webkit-linear-gradient(top, #ffbf00, #f2571f);
   background: -moz-linear-gradient(top, #ffbf00, #f2571f);
   background: -ms-linear-gradient(top, #ffbf00, #f2571f);
   background: -o-linear-gradient(top, #ffbf00, #f2571f);
   padding: 8.5px 17px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.yellow-button:hover {
   border-top-color: #c97602;
   background: #c97602;
   color: #ffffff;
}
.yellow-button:active {
   border-top-color: #c75600;
   background: #c75600;
}



/** added today  **/ 

.search-on-results input[type=text] {
	width:246px;
	font-size: 14px;
	padding: 5px 2px;
	color:#353535;
	font-style: italic;
}

.search-on-results input[type=submit] {

}

#details {
	margin-left: 10px;
}

#details .item {
	width: 270px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 6px;
	background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 50%,#f8f8f8 100%);
	box-shadow: 0 1px 2px 0 #ddd;
	float: left;
	margin-right: 14px;
}

#details .item p {
	margin:0px;
	padding:0px;
}

#details .item p.name {
	font-size:16px;
}

#details .item .wrapper p {
	margin: 7px 0;
}

.item .active-type {
	font-weight: bold;
}
.item .active {
	color:green;
}

.item .inactive {
	color:#999;
}

.item .violations {
	padding: 10px;
	opacity: .7;
}
