<DOCTYPE html>
<html>
	<head>
		<title> WaterSafe.co </title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>

		<div class="logo">
			<img src="/static/images/logo-main.png" alt="WaterSafe.co" />
		</div>

		<div id="search-form">
			<div class="fields">
				<form action="./results" method="POST">{% csrf_token %}
					<input type="text" name="address" id="address" placeholder="Enter your address..." />
					<br />
					<br />

					<div class="right">
						<input type="submit" class="hows-the-water" value="How's My Water?" />
					</div>
					<br style="clear-right" />
				</form>
			</div>
		</div>

		<div class="getting-started">

		</div>
	</body>
</html>
