<html><head></head><body>

	
		<title> WaterSafe.co </title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">

		<style type="text/css">
			.search-on-results input[type=text] {
				width:246px;
				font-size: 14px;
				padding: 5px 2px;
				color:#353535;
				font-style: italic;
			}

			.search-on-results input[type=submit] {

			}
		</style>
	
	

		<div class="container">
			<div class="map-view left">
				<div class="map-box">
          <a href="/">
            <img width="300px" src="/static/images/logo-main.png" alt="WaterSafe.co" />
          </a>
				</div>

				<br>

				<div class="search-on-results">
					<form action="/results" method="post">
						<h2>Check Your Local Water</h2>
						<input type="text" name="address" id="address" placeholder="Type in your address...">
						<input type="submit" />
					</form>
				</div>

				<div class="map-info">
					<br>
					<h2 class="county-name">Online Resources</h2>
					<a href="http://www.ewg.org/tap-water/whats-in-yourwater.php" target="_blank">> National Drinking Water Database</a>
				</div>
			</div>

			<div class="detail-view right">

				<div class="rating" style="border:1px solid #ddd;">					
					<h1>PA Water Incident Reports Map (1992-2013)</h1>
					<hr>
					<iframe width="600" height="380" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col1+from+1LgtFNMlxShzmrUQc4U7uBYRfv6UjAR6JTXOZUTY&amp;viz=MAP&amp;h=false&amp;lat=40.757678557632595&amp;lng=-77.19808893750002&amp;t=1&amp;z=7&amp;l=col1&amp;y=3&amp;tmplt=5"></iframe>							</div>
				<div class="rating" style="border:1px solid #ddd;">					
					<h1>Interactive Incident Chart (1992-2013)</h1>
					<hr>
					<script type="text/javascript" src="http://ajax.googleapis.com/ajax/static/modules/gviz/1.0/chart.js"> {"dataSourceUrl":"http://docs.google.com/a/rentshare.com/spreadsheet/tq?key=0AqoEVWBuNO6bdGU4TGZ4cTNvbVdJMW1jd2ctekc3eWc&transpose=0&headers=1&range=A1%3AD614&gid=0&pub=1","options":{"titleTextStyle":{"fontSize":16},"vAxes":[{"title":"Left vertical axis title","useFormatFromData":true,"minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null},{"useFormatFromData":true,"minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null}],"title":"Chart title","booleanRole":"certainty","height":524,"animation":{"duration":0},"legend":"right","width":766,"hAxis":{"title":"Horizontal axis title","useFormatFromData":true,"minValue":null,"viewWindow":{"min":null,"max":null},"maxValue":null}},"state":{},"view":{},"isDefaultVisualization":true,"chartType":"MotionChart","chartName":"Chart 1"} </script>
						</div>
					

					<br class="clear-right">
				

				<br>
				
				

					<br class="clear-right">
				</div>

				<br>

				
			</div>
			<br class="clear-both">
		</div>
	

</body></html>
